{% extends 'base.html' %}

{% block content %}  
    <main>
        <h1>Your shopping list</h1>
        <div>
            <form method="POST", action="{% url 'delete_all_shopping_items' %}">
                {% csrf_token %}
                <button class="button">Delete all</button>
            </form>
            <ul>
                {% for item in shopping_items %}
                <li>{{ item.food_item.name }}
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock content %}