{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
  <main class="tag-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan_details.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan_details.id %}">Delete</a>
    </div>
    <h2>Recipes for {{ meal_plan_details.name }}</h2>
    {% for recipe in meal_plan_details.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}